
            </div><!--/span-->
        </div><!--/row-->
        <hr>

        <footer class="pagination-centered">
            <p>&copy; Altissimo Tech 2012</p>
        </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
