{% include 'header.html' %}

                <div class="hero-unit">
                    <h1>Sore fingers?</h1>

                    <p>Type your resume information once and generate a professional resume in almost any format.</p>

                    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
                </div>

                <div class="row-fluid">
                    <div class="span4">
                        <h2>Pro Templates</h2>

                        <p>Our templates provide an easy way to get a professional look.</p>

                        <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div><!--/span-->

                    <div class="span4">
                        <h2>Web Resume</h2>

                        <p>We'll host your resume website to give your employers a better look at your credentials.</p>

                        <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div><!--/span-->

                    <div class="span4">
                        <h2>Open Source</h2>

                        <p>The ResumeBabel core converter is <a href="https://github.com/poundifdef/resumebabel">on GitHub</a>! Add new formats or build your
                        own templates.</p>

                        <p><a class="btn" href="#">View details &raquo;</a></p>
                    </div><!--/span-->
                </div><!--/row-->

{% include 'footer.html' %}
