{% include 'header.html' %}

<pre>
{{ form.email.errors }}
{{ form.password.errors }}
</pre>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-error">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h3>Please Sign in!</h3>

<form class="form-horizontal" method="post" action="/login">
{% for field in form if field.widget.input_type != 'hidden' %}
  <div class="control-group">
    {{ field.label(class="control-label") }}
    <div class="controls">
      {{ field }}
    </div>
  </div>
{% endfor %}

{{ form.hidden_tag() }}
</form>

{% include 'footer.html' %}
