{% include 'header.html' %}

<form>
    <legend>Contact</legend>

        <div class="control-group">
            <label class="control-label" for="fullname">Name</label>
            <div class="controls">
                <input type="text" id="fullname">
            </div>
        </div>


        
        <label>Email</label>
        <input type="text">
        <label>Phone</label>
        <input type="text">
        <label>Location</label>
        <input type="text">


    <legend>Education</legend>

        <label>Name</label>
        <label>Date</label>
        <label>Degree</label>
        <label>Description</label>


    <legend>Experience</legend>


</form>

{% include 'footer.html' %}
