{% include 'header.html' %}

<form class="form-horizontal" ng-controller="ResumeCtrl">
	<div id="objectiveInfo">
		<div class="legend">
			<legend class=""><h3>Objective</h3></legend>
		</div>
		<div class="control-group">
			<div class="controls">
				<div class="textarea objective">
					<textarea type="" class="" ng-model="objective"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div id="contactInfo">
		<div class="legend">
			<legend class=""><h3>Contact</h3></legend>
		</div>
		<fieldset id="contactForm">
			<div class="control-group">
				<label class="control-label" for="input01">Name</label>
				<div class="controls name">
					<input type="text" id="input01" placeholder="" class="input-xlarge" ng-model="contact.name"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="input02">Email</label>
				<div class="controls email">
					<input type="text" id="input02" placeholder="" class="input-xlarge" ng-model="contact.email"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="input03">Phone</label>
				<div class="controls phone">
					<input type="text" id="input03" placeholder="" class="input-xlarge" ng-model="contact.phone"></input>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="input04">Location</label>
				<div class="controls location">
					<input type="text" id="input04" placeholder="" class="input-xlarge" ng-model="contact.location"></input>
				</div>
			</div>
		</fieldset>
	</div>

	<div id="educationInfo">
		<div id="legend" class="">
			<legend class=""><h3>Education</h3></legend>
		</div>
		<div id="educationForms" ng-repeat="ed in education">
			<fieldset class="educationForm well">
				<a class="removeEducation" ng-click="removeEducation(ed)"><i class="icon-trash"></i></a>
				<div class="control-group">
					<label class="control-label" for="input05">Name</label>
					<div class="controls name">
						<input type="text" id="input05" placeholder="" class="input-xlarge" ng-model="ed.name">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="input06">Date</label>
					<div class="controls date">
						<input type="text" id="input06" placeholder="" class="input-xlarge" ng-model="ed.date">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="input07">Degree</label>
					<div class="controls degree">
						<input type="text" id="input07" placeholder="" class="input-xlarge" ng-model="ed.degree">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Description</label>
					<div class="controls">
						<div class="textarea description">
							<textarea type="" class="" ng-model="ed.description"> </textarea>
						</div>
					</div>
				</div>       
			</fieldset>        
		</div>
		<div class="control-group">
			<label class="control-label"></label>

			<!-- Button -->
			<div class="controls">
				<button class="btn btn-success addEducation" ng-click="addEducation()">Add Education</button>
			</div>
		</div>
	</div>

	<div id='experienceInfo'>
		<div id="legend" class="">
			<legend class=""><h3>Experience</h3></legend>
		</div>
		<div id='experienceTypes' ng-repeat="(type, exs) in experiences">
			<div class='experienceType'>
				<h4 class='typeName' ng-bind-template="{{'{{type}}'}}"></h4>
				<a class="editExperienceType"><i class="icon-pencil"></i></a>
				<a class="removeExperienceType" ng-click="removeExperienceType(type)"><i class="icon-trash"></i></a>
				<div id='experienceForms' ng-repeat="experience in exs">
					<fieldset class='experienceForm well'>
						<a class="removeExperience" ng-click="removeExperience(type, experience)"><i class="icon-trash"></i></a>
						<div class="control-group">
							<label class="control-label" for="input01">Name</label>
							<div class="controls name">
								<input type="text" id="input01" placeholder="" class="input-xlarge" ng-model="experience.name">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="input01">Location</label>
							<div class="controls location">
								<input type="text" id="input01" placeholder="" class="input-xlarge" ng-model="experience.location">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="input01">Title</label>
							<div class="controls title">
								<input type="text" id="input01" placeholder="" class="input-xlarge" ng-model="experience.title">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="input01">Date</label>
							<div class="controls date">
								<input type="text" id="input01" placeholder="" class="input-xlarge" ng-model="experience.date">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Description</label>
							<div class="controls description">
								<div class="textarea">
									<textarea type="" class="" ng-model="experience.description"> </textarea>
								</div>
							</div>
						</div>
					</fieldset>
				</div>			
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-info addExperience" ng-click='addExperience(type)'>Add Experience</button>
					</div>
				</div>
			</div>
		</div>		
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-success addExpType" ng-click='addExperienceType()'>Add Experience Type</button>
			</div>
		</div>	
	</div>

	<button class="btn btn-primary saveResume" ng-click='saveResume()'>Save Resume</button>
</form>

{% include 'footer.html' %}
