{% include 'header.html' %}

{% if resumes %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
            <td>
                <a href="/{{current_user.display_name}}/{{resume.slug}}">{{ resume.title }}</a>
                <a class="btn btn-mini" href="#"><i class="icon-pencil"></i></a>
            </td>
            <td>
                <small>{{ current_user.display_name }}/</small><b>{{ resume.slug }}</b>
                <a class="btn btn-mini" href="#"><i class="icon-pencil"></i></a>
            </td>
            <td>
                <button type="submit" class="btn btn-mini">Clone</button>
                <button type="submit" class="btn btn-mini">Make Default</button>
                <button type="submit" class="btn btn-mini">Make Public</button>
                <a href="#" class="btn btn-mini btn-danger delete_resume">Delete</a>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}

Go ahead and <a href="#">Create a new resume!</a>

{% include 'footer.html' %}
