{% include 'header.html' %}

{% if resumes %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
            <td><a href="/{{current_user.display_name}}/{{resume.slug}}">{{ resume.title }}</a></td>
            <td><small>{{ current_user.display_name }}/</small><b>{{ resume.slug }}</b></td>
            <td>[edit] [delete] [clone] [make default] [make public]</td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}

Go ahead and <a href="#">Create a new resume!</a>

{% include 'footer.html' %}
