{% include 'header.html' %}

{% if resumes %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
            <td>
                <a href="/{{current_user.display_name}}/{{resume.id}}">{{ resume.title }}</a>
                <a class="btn btn-mini" href="#"><i class="icon-pencil"></i></a>
            </td>
            <td>
                <div class="btn-group">
                    <button type="submit" class="btn btn-small">Clone</button>
                    <button type="submit" class="btn btn-small">Make Default</button>
                    <a href="#" data-delete-id="{{resume.id}}" class="btn btn-small btn-danger delete_resume">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}

Go ahead and <a href="#">Create a new resume!</a>

{% include 'footer.html' %}
